<!--iframe modified from: http://www.html5rocks.com/en/tutorials/security/sandboxed-iframes/ -->
<!DOCTYPE html>
<html>
    <head>
        <title>Repl</title>
        <script>
            console.oldLog = console.log;
            console.log = function (value) {
                window.$log = value.toString();
            };
            window.addEventListener('message', function (e) {
                if (e.origin !== (window.location.protocol + "//" + window.location.host))
                    return;
                var mainWindow = e.source;
                var result = [];
                try {
                    if (eval(e.data) != null) {
                        var t0 = performance.now();
                        result.push("Output: " + (eval(e.data)))
                        var t1 = performance.now();
                        result.push(t1 - t0)

                    } else if (eval(e.data) == null && $log!=null) {
                        result.push("Console: " + $log)
                    }
                    } catch (e) {
                        result.push(e.name + ': ' + e.message);
                    }
                    console.oldLog(result)
                mainWindow.postMessage(result, e.origin);
            });
        </script>
    </head>
    <body></body>
</html>
