<!--iframe modified from: http://www.html5rocks.com/en/tutorials/security/sandboxed-iframes/ -->
<!DOCTYPE html>
<html>
    <head>
        <title>Repl</title>
        <script>
            console.oldLog = console.log;
            console.log = function (value) {
                window.$log = value.toString();
            };
            window.addEventListener('message', function (e) {
                if (e.origin !== (window.location.protocol + "//" + window.location.host))
                    return;
                var mainWindow = e.source;
                var result = '';
                try {
                    if (eval(e.data) != null) {
                        result = "Output: " + (eval(e.data))
                    } else if (eval(e.data) == null && $log != null) {
                        result = "Console: " + $log
                    }
                    } catch (e) {

                        result = e.name + ': ' + e.message;
                    }
                mainWindow.postMessage(result, e.origin);
            });
        </script>
    </head>
    <body></body>
</html>
