<!--iframe modified from http://www.html5rocks.com/en/tutorials/security/sandboxed-iframes/ -->
<!-- Some security measures:
-the iframe sandbox isolates user input.
-the iframe sandbox constrains the scripts that are allowed to run within in. -->
<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.pjax/1.9.6/jquery.pjax.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
    <script src="/assets/javascript/src/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/assets/javascript/src/theme-tomorrow_night.js" type="text/javascript" charset="utf-8"></script>
    <script src="/assets/javascript/src/mode-javascript.js" type="text/javascript" charset="utf-8"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <title>Repl</title>
</head>
<body>
    <div>
        <div id="input-container">
            <h1>Repler</h1>
            <br>
            <div id="top-selectors">Language:
            <select id="language-select" name="languages" onsubmit="return false;">
                <%for lan in Languages%>
                <option value=<%=lan[1]%>><%=lan[0]%></option>
                <%end%>
            </select>
            </div>
            <input id="function-call" placeholder="Function Call"></input>
            <div id="code">
            </div>
            <script>
                var editor = ace.edit("code");
                editor.setTheme("ace/theme/tomorrow_night");
                var JavaScriptMode = ace.require("ace/mode/javascript").Mode;
                editor.session.setMode(new JavaScriptMode());
            </script>
            <div id="bottom-btns">
            <button class= "myButton" id='run-bttn'>Run</button>
            <button class= "myButton" id='help'>Help!</button>
            <button class= "myButton" id='complexity'>Time Complexity</button>
            <button class= "myButton" id="example-code">Hello World!</button>
          </div>
            <iframe sandbox='allow-scripts' id='sandboxed' src='/iframe'></iframe>
        </div>
        <div id="output-container">
        </div>
        <div id="article_recs"></div>
        <div id="tester" style="width:700px;height:350px;margin:0 auto;"></div>
    </div>
    <script>

        // language variables

        $("#language-select").on('change', function (event) {
            var language = $('#language-select').val()
            if (language == 'javascript/node-0.10.29') {
                $('#complexity').show()
            } else {
                $('#complexity').hide()
                editor.setValue("");
                $('#output-container').text("");
            }
        })

        // hello_world ajax call

        $("#example-code").on('click', function (event) {
            var language = $('#language-select').val()
            $.ajax({
                type: "POST",
                url: "/",
                data: {
                    languages: language,
                    example: true
                },
                success: function (data) {
                    editor.setValue(data)
                }
            })
        })

      $("button").on('click', function (event) {

      if (this.id=="help" || this.id=="complexity" ){
        $('body').css("overflow", "auto");
      }
      if (this.id!="complexity"){
        $('#tester').hide()
      }
      else {
        $('#tester').show()
      }
      if (this.id=="help"){
        $('#article_recs').show()
      }
      else{
        $('#article_recs').hide()
      }
      })
        // run ajax call


        $("#run-bttn").on('click', function (event) {
            $("#output-container").show()
            var language = $('#language-select').val();
            var code = editor.getValue();
            if (language != 'javascript/node-0.10.29') {
                $.ajax({
                    type: "POST",
                    url: "/",
                    data: {
                        languages: language,
                        code: code,
                        example: false
                    },
                    success: function (data) {
                        $('#output-container').text("Output: " + data);
                    }
                })
            } else if (language == 'javascript/node-0.10.29') {
                evaluate(sandboxedFrame);
            }
        })

        //sandboxing
        var sandboxedFrame = document.getElementById('sandboxed');
        function evaluate(frame) {
            var code = editor.getValue();
            var call = $('#function-call').val();
            if (call) {
                code = code + "\n" + call
            }
            frame.contentWindow.postMessage(code, '*');
        }
        var lengthAndTime = {};
        var iteration = 0;
        lengthAndTime.x=[];
        lengthAndTime.y=[];

        //listen for response from iframe
        window.addEventListener('message', function (e) {
            if (e.origin === "null" && e.source === sandboxedFrame.contentWindow) {
                $("#output-container").append('<div>').text(e.data[0]);
                lengthAndTime.x.push(arrayOfArrayLengths[iteration]);
                lengthAndTime.y.push(e.data[1]);
                iteration++
            }
        });
        var chart= function (){
          // TESTER = document.getElementById('tester');
          console.log(lengthAndTime.x)
          console.log(lengthAndTime.y)


          var trace = {
            type: 'scatter',
            mode: 'lines-markers',
            x: lengthAndTime.x,
            y: lengthAndTime.y,
            line: {
              width: 1
            },
          };

          var layout = {
            yaxis: {title: "Run Time (milliseconds)"},
            xaxis: {title: "Sample Data Length"}
          };

          Plotly.plot(document.getElementById('tester'), [trace], layout, {showLink: false});

          };




          //time complexity
        var arrayOfArrayLengths = []
        $('#complexity').on('click', function (event) {
            var code = editor.getValue();
            var call = $('#function-call').val();

            // generate exponentially larger arrays to test
            var generateArray = function () {
                array = []
                bigArray = []
                for (var j = 500; j < Math.pow(10, 4); j += 500) {
                    for (var i = 0; i < j; i++) {
                        array.push(Math.floor(Math.random() * 10))
                    }
                    bigArray.push(array)
                    array = []
                }
                return bigArray
            }
            generateArray()

            //run the arrays to get runtime/length of array
            var generateCalls = function () {
                var bigArrayLength = bigArray.length
                for (var i = 0; i < bigArrayLength; i++) {

                    var evaluate = function (frame) {
                        var regex = /\[(.*?)\]/
                        call = call.replace(regex, "[" + bigArray[i] + "]")
                        arrayOfArrayLengths.push(bigArray[i].length)
                        if (call) {
                            code = code + "\n" + call
                        }
                        frame.contentWindow.postMessage(code, '*');
                    }
                    evaluate(sandboxedFrame);
                }
            }
            generateCalls()
            $("#output-container").hide()
            setTimeout(chart,500)
        })

        //error help
        $('#help').on('click', function (event) {
            $('#article_recs').css("opacity", "1")
            var output = $("#output-container").text()

            if (output.includes("Error") || output.includes("Error")) {
                //call stackoverflow api
                $.ajax({
                    type: "GET",
                    url: "https://api.stackexchange.com/2.2/search?order=desc&sort=activity&intitle=" + output + "&site=stackoverflow&key=<%=ENV['STACK_OVERFLOW_KEY']%>",
                    success: function (data) {
                        console.log(data);
                        if (data.items.length > 0) {
                            for (var i = 0; i < 11; i++) {
                                $('#article_recs').append($("<a>").attr("href", data.items[i].link).html(data.items[i].title))
                                $('#article_recs').append($("<br>"))
                            }

                        }
                        else{
                            $("#article_recs").text("No articles match your error log")
                        }
                    }
                })
            } else {
                $("#article_recs").text("If you receive an error after running your program, click 'help'")
            }
        })
    </script>
</body>
