<!--modified from http://www.html5rocks.com/en/tutorials/security/sandboxed-iframes/ -->
<!-- Some security measures:
-the iframe sandbox isolates user input.
-the iframe sandbox constrains the scripts that are allowed to run within in. -->
  <head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <title>Repl</title>
  </head>
  <body>
    <div id="input-container">
    <h1>Repl</h1>
    <textarea id='code'></textarea>
    <button id='run-bttn'>Run</button>
    <iframe sandbox='allow-scripts'
            id='sandboxed'
            src='/iframe'></iframe>
    </div>
    <div id="output-container"></div>

    <script>

      var sandboxedFrame = document.getElementById('sandboxed');

      function evaluate(frame) {
        var code = $('#code').val();
        frame.contentWindow.postMessage(code, '*');
      }

      $('#run-bttn').on('click', function () {
        evaluate(sandboxedFrame);
      });
      // Listen for response messages from the frames.
      window.addEventListener('message', function (e) {
        if (e.origin === "null" && e.source === sandboxedFrame.contentWindow)
           {
             $("#output-container").append('<div>').text(e.data)
        }
      });
    </script>
    </body>
